contact-form {
  margin-top: 30px; }

input {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding: 18px 22px;
  font-size: 18px; }

textarea {
  min-height: 160px;
  width: 100%; }

::-webkit-input-placeholder {
  color: seagreen; }

:-ms-input-placeholder {
  color: seagreen; }

::-ms-input-placeholder {
  color: seagreen; }

::placeholder {
  color: seagreen; }

.contact-form-checkbox-input {
  display: none; }
  .contact-form-checkbox-input:checked + .contact-form-checkbox-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.contact-form-checkbox-label {
  position: relative;
  color: #ADABAB;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  line-height: 16px;
  padding-left: 50px;
  margin-bottom: 20px;
  margin-top: 10px; }

.contact-form-checkbox-label::before {
  position: absolute;
  content: "";
  left: 0;
  top: -2px;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.15); }

.contact-form-checkbox-label::after {
  position: absolute;
  left: 10px;
  top: 9px;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  color: #EA2626;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s; }
